body {
  font-family: "Segoe UI", sans-serif;
  background: url("d5b.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
  line-height: 1.6;
}

/* Overlay for readability */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}
article {
  background: rgba(209, 164, 164, 0.178); /* semi-transparent card */
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
header {
  background: rgba(207, 162, 57, 0.692); /* green overlay */
  color: #fff;
}
h1{
  text-align: center;
 font-family: serif;

}
h2{
  text-align: center;
  font-weight: 400;
}

